* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v14_4 {
  width: 100%;
  height: 1614px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2003_76 {
  width: 561px;
  height: 793px;
  background: url("../images/v2003_76.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 880px;
  overflow: hidden;
}
.v2003_11 {
  width: 291px;
  height: 101px;
  background: url("../images/v2003_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1041px;
  left: 574px;
  overflow: hidden;
}
.v2003_22 {
  width: 249px;
  height: 249px;
  background: url("../images/v2003_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 595px;
  overflow: hidden;
}
.v14_13 {
  width: 22px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 860px;
  left: 506px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v2002_7 {
  width: 170px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 858px;
  left: 538px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2002_8 {
  width: 22px;
  height: 22px;
  background: url("../images/v2002_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 892px;
  left: 506px;
  overflow: hidden;
}
.v2003_2 {
  width: 22px;
  height: 22px;
  background: url("../images/v2003_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 924px;
  left: 506px;
  overflow: hidden;
}
.v2003_3 {
  width: 170px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 922px;
  left: 538px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2003_67 {
  width: 396px;
  height: 928px;
  background: url("../images/v2003_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 686px;
  left: 0px;
  overflow: hidden;
}
.v2003_70 {
  width: 298px;
  height: 413px;
  background: url("../images/v2003_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 0px;
  overflow: hidden;
}
.v2003_73 {
  width: 258px;
  height: 673px;
  background: url("../images/v2003_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 718px;
  left: 1182px;
  overflow: hidden;
}
